.navbar-brand h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

}

.card-img-overlay{
    text-align:center;
}
.card-img-overlay h1{
    font-family: 'Oswald', sans-serif;
 
    
}
.card-img-overlay h2{
    font-family: 'Oswald', sans-serif; 
    text-decoration-line: overline;
    font-weight: 700;
}
#descripcion h4{
    text-align: center;
}
#descripcion{
    padding: 5%;
}
#experiencia h4{
    text-align: center;
}
#experiencia svg{
    width: 20%;
    height: 20%;
    
   
}
#experiencia .card{
    border: white;
}
#experiencia{
    text-align: center;
    padding: 5%;
}
.imagen i{
    width: 100%;
    height: 40px;
}
#trabajos{
    background: lightskyblue;
}
#trabajos h2{
    text-align: center;
    padding: 3%;
}
#trabajos .container{
    padding: 3%;
}
#formulario{
   
    padding: 5%;
}
#formulario .fondo{
    background-color: #007bff;
    margin-right: 53%;
    font-family: inherit;
    color: white;
}

footer{
    background:#007bff;
    margin-top: 5%;
    padding: 3%;
    text-align: center;
}
footer i{
    padding-right: 10px;
  
}

   
