<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200&display=swap" rel="stylesheet">
    <title>Mi Portafolio</title>
</head>
   
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
                        <a class="navbar-brand" href="#"><h2>MM</h2></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <section class="menu">
                                <ul class="navbar-nav mt-2 mt-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Sobre mi <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Experiencia</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Trabajos</a>
                                        </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" >Contacto</a>
                                    </li>
                                </ul>
                            </section>    
                        </div>
                    </nav>
                </div>
            </div>    
        </div>
        
    </header>
    <section id="foto_principal" class="pt-3 mt-5">
        <div class="container">
            <section class="main row">
                <article class="col-xs col-sm-6 col-md col-lg-12">
                    <div class="card bg-dark text-white">
                        <img src="../img/FB_IMG_foto_mia.jpg" class="card-img" alt="...">
                        <div class="card-img-overlay">
                          <h1 class="card-title text-decoration">Yo Soy</h1>
                          <h2 class="card-title">Mónica</h2>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </section>
    <section id="descripcion" class="container">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate reiciendis optio, a cumque nihil placeat.</h4>
            <div class="row">
                
                <article class="col-md-6 col-lg-6 .d-sm-none .d-md-block">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas perferendis alias eum, sunt maiores consequuntur soluta illo quibusdam laboriosam eius cum beatae obcaecati ab harum ducimus accusamus mollitia optio architecto qui commodi quas consectetur? Voluptates ea nesciunt alias, eveniet unde culpa quam, neque ipsa esse doloremque praesentium cupiditate consequatur harum.</p>
                </article>
                <article class="col-md-6 col-lg-6 .d-sm-none .d-md-block">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas perferendis alias eum, sunt maiores consequuntur soluta illo quibusdam laboriosam eius cum beatae obcaecati ab harum ducimus accusamus mollitia optio architecto qui commodi quas consectetur? Voluptates ea nesciunt alias, eveniet unde culpa quam, neque ipsa esse doloremque praesentium cupiditate consequatur harum.</p>
                </article>

            </div>

    </section>

    




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    
</body>
</html>